#addApplication{
    justify-content: center;
    align-items: center;
}

a:link{
    text-decoration: none;
    
}

.btn {
    margin: 0.1rem 0 0.1rem 0;
}

nav a:hover {
    background-color: gainsboro;
}
